body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
}

.naveJog{
    width: 60px;
    height: 60px;
    background-image: url("nave2.gif");
    position: absolute;
}

.telaMsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 720px;
    height: 621px;
    display: none;
}
#medidorPlaneta{
  border: 2px solid #000;
  width: 300px;
  height: 16px;
  background-color: #36e34d;
}
#barraPlaneta{
  width: 300px;
  height: 16px;
  background-color: #1f822c;
}
.tiroJog{
    width: 5px;
    height: 13px;
    background-color: deepskyblue;
    border-radius: 6px;
    position: absolute;
}
.bomba{
    width: 30px;
    height: 30px;
    background-image: url("bombaCirculo.png");
    position: absolute;
}
.explosaoChao{
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url("explosao6060_chao.gif");
}
.explosaoAr{
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url("explosao6060_2.gif");
}

